.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    padding: 1.5rem 5rem;
    transition: background-color 1s  ease-out;
    z-index: 999999999;
    &--2{
        background-color:#535e644f;
        backdrop-filter: blur(80px);
    }
}
.logo{
    &__img{
        width: 12.5rem;
    }
    &:hover{
        cursor: pointer;
    }
}